.cart-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  display: flex;
  justify-content: flex-end;
}

.cart-drawer {
  width: 400px;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  animation: slideIn 0.3s ease-out;
}

.cart-items {
  flex: 1;
  overflow-y: auto;
  margin-top: 10px;
}

.cart-total {
  border-top: 1px solid #eee;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
}

.cart-pay-btn{
  margin-top: 15px;
  background-color: #ff7a00;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 14px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

.cart-pay-btn:hover {
  background-color: #e96f00;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
