.customer-data-btn,
.customer-data-btn-outline {
    width: 150px;
    height: 30px;
    padding: 14px;
    font-weight: bold;
    border-radius: 8px;
    transition: all 0.2s ease;
}


.customer-data-btn {
    background-color: #ff7a00;
    color: white;
    border: 2px solid #ff7a00;
}


.customer-data-btn-outline {
    background-color: transparent;
    color: #ff7a00;
    border: 2px solid #ff7a00;
}

.customer-data-btn:hover {
    background-color: #e96e00;
}

.customer-data-btn-outline:hover {
    background-color: #fff2e8;
}
