.navbar-item {
  color: black;
  padding: 6px 12px;
  text-decoration: none;
  transition: 0.2s ease;
  cursor: pointer;
}
  
.navbar-item.active {
  background-color: rgb(249, 124, 47);
  color: white !important;
  border-radius: 15px;
}

.navbar-item:hover {
  color: rgb(250, 99, 6);
  background-color: lightgray;
  border-radius: 15px;
}
.navbar-wrapper {
  position: sticky;
  top: 0;
  z-index: 999;
  background: white;
  border-bottom: 1px solid #e5e5e5;
}

@media (min-width: 992px) {
  .with-logo .nav-item:first-child {
    margin-left: 20px; 
  }
}

.cart-button {
  display: flex;
  align-items: center;
  gap: 6px;

  background-color: rgb(249, 124, 47);
  border: 1px solid rgb(249, 124, 47);
  border-radius: 10px;
  padding: 10px 12px;
  color: #fff;
}
.cart-count {
  margin: 0;
  font-size: 18px;
}


  