.product-card {
    width: 260px;
    height: 450px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    border: 1px solid #f0f0f0;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.product-img-wrapper {
    width: 100%;
    aspect-ratio: 16 / 9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
  
.product-info {
    min-height: 90px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}
  
.product-bottom {
    margin-top: auto; 
    text-align: center;
    padding: 10px;
}

.add-cart-btn-card {
    width: 100%;
    max-width: 220px;
    margin: 0 auto;
    background-color: #ff7a00;
    color: white;
    border: none;
    border-radius: 22px;
    padding: 10px 18px;     
    font-size: 16px;       
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
  

.add-cart-btn-card:hover {
    background-color: #e96f00;
}
  
.price {
    font-weight: bold;
}