.promotion-modal-img {
    width: 700px;
    height: 400px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
}

.modal_content_promotion {
    width: 800px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}