.topbar-item {
  color: black;
  text-decoration: none;
  transition: color 0.2s ease;
  cursor: pointer;
}
  
/* Hover normal */
.topbar-item:hover {
  color: rgb(249, 124, 47);
}

/* Activo (NavLink activo) */
.topbar-item.active {
  color: rgb(249, 124, 47);
}

.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:active {
  background-color: transparent !important;
  color: inherit !important;
  box-shadow: none !important;
}
  